body {
    height: 100%;
    width: 100%;
}

/* in-game css */

#playfield {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -400px;
    background-color: rebeccapurple;
    height: 600px;
    width: 800px;
    overflow: hidden;
}

#spaceship {
    position: absolute;
    height: 110px;
    width: auto;
    padding-left: 20px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bullet {
    position: absolute;
    height: 10px;
    width: auto;
    left: 120px;
}