body {
    height: 100%;
    width: 100%;
}

/* in-game css */

#playfield {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -400px;
    background-color: rebeccapurple;
    height: 600px;
    width: 800px;
    overflow: hidden;
}

#spaceship {
    position: absolute;
    height: 110px;
    width: auto;
    padding-left: 20px;
    top: 250px;
}

#alien {
    position: absolute;
    height: 240px;
    width: auto;
    top: 150px;
    right: 20px;
}

.bullet {
    z-index: -2;
    position: absolute;
    height: 10px;
    width: auto;
    left: 100px;
}

.fireball {
    z-index: -1;
    position: absolute;
    height: 30px;
    width: auto;
}